/* .button-controler {
  flex: 1;
  height: 30px;
  border: none;
  background: transparent;
  background-color: var(--color-bg-b3);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-bg-b8);
  box-shadow: none;
  margin: 0;
}

.button-controler.active {
  background: var(--color-grd-g3);
  color: var(--color-bg-b1);
  border: 1px solid var(--color-bg-b4);
  font-weight: 800;
} */

/* .segmented-control {
  display: flex;
  background: var(--color-bg-b4);
  border-radius: 50px;
  border: 1px solid var(--color-bg-b4);
  padding: 1px;
  gap: 5px;
  margin: 8px;
  width: 300px;
  height: 34px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
} */
.client-item-2 {
  width: 100%;
  border-bottom: 0.5px solid var(--color-bg-b9);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
}

.client-item-2 h1 {
  font-size: var(--font-size-xlarge);
  margin: 3px;
  color: var(--color-bg-b1);
  font-weight: normal;
  letter-spacing: 1px;
}

.client-item-2 p {
  font-size: var(--font-size-large);
  margin: 3px;
  color: var(--color-bg-b5);
}

.client-item-2:hover {
  background-color: var(--color-bg-b4);
  cursor: pointer;
}

.client-item-2:hover p {
  color: var(--color-bg-b10);
}

.client-item-2:hover h1 {
  color: var(--color-bg-b10);
  font-weight: bold;
}