
.cl-item {
  width: 100%;
  border-bottom: 0.5px solid var(--color-bg-b7);
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10px;
  position: relative;
}

.cl-item h1 {
  font-size: var(--font-size-xlarge);
  margin: 3px;
  color: var(--color-bg-b1);
  font-weight: normal;
  letter-spacing: 1px;
}

.cl-item p {
  font-size: var(--font-size-large);
  margin: 3px;
  color: var(--color-bg-b5);
}

.cl-item:hover {
  background-color: var(--color-bg-b4);
  cursor: pointer;
}

.cl-item:hover p {
  color: var(--color-bg-b10);
}

.cl-item:hover h1 {
  color: var(--color-bg-b10);
  font-weight: bold;
}
