/* .button-controler {
  flex: 1;
  height: 30px;
  border: none;
  background: transparent;
  background-color: var(--color-bg-b3);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-bg-b8);
  box-shadow: none;
  margin: 0;
}

.button-controler.active {
  background: var(--color-grd-g3);
  color: var(--color-bg-b1);
  border: 1px solid var(--color-bg-b4);
  font-weight: 800;
} */

/* .segmented-control {
  display: flex;
  background: var(--color-bg-b4);
  border-radius: 50px;
  border: 1px solid var(--color-bg-b4);
  padding: 1px;
  gap: 5px;
  margin: 8px;
  width: 300px;
  height: 34px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
} */
