.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.pagination-btn {
  font-size: small;
  background-color: #282c34;
  color: var(--color-bg-b9);
  border: 1px solid #444;
  border-radius: 6px;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 35px;
  height: 35px;
  background: var(--color-bg-b1);
}

.pagination-btn:hover:not(:disabled) {
  background: var(--color-bg-b2);
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-btn.active {
  background: var(--color-grd-g2);
  color: var(--color-bg-b1);
  font-weight: bold;
}

.pagination-ellipsis {
  color: var(--color-el-d);
  padding: 0 5px;
}
