:root {
    --font-size-main-menu: 1.1rem;
}

.main-menu-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
}

.main-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-menu-icon {
  scale: 55%;
  color: var(--color-bg-b12);
  margin-left: 5px;
  cursor: pointer;
}

.main-menu-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color-bg-b12);
  font-size: 0.9rem;
}

.main-menu-avatar {
  background-image: url("../../styles/svg/person.svg"), var(--color-grd-g3);
  bottom: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: 60%, cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-bg-b10);
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-bg-b12);
  margin-right: 10px 0px 15px 0px;
}

.main-menu-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.main-menu-user-info p {
  color: var(--color-bg-b12);
}

.button-main-menu::before {
  content: "";
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--color-bg-b11);
  /* simple star svg, url-encoded */
  transition: filter 0.72s ease, transform 0.72s ease,
    background-image 0.72s ease;
  padding: 0 1px 0 15px;
}

.button-main-menu:hover {
  background: var(--color-bg-b2);
}

.button-main-menu.active {
  background: var(--color-grd-g6);
}

.button-main-menu {
  display: flex;
  align-items: center;
  width: 200px; 
  height: 60px;
  background: var(--colosr-bg-b3);
  color: var(--color-bg-b12);
  font-weight: 400;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  letter-spacing: 1px;
}

.button-main-menu.clients::before {
  background-image: url("../../styles/svg/optician.svg");  
}

.button-main-menu.optotyp::before {
  background-image: url("../../styles/svg/optotyp.svg");  
}

.button-main-menu.eye::before {
  background-image: url("../../styles/svg/eye.svg");
  font-size: 0.5rem;
}