.store-left-column {
  flex: 0 0 75%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-b3);
  height: 100vh;
  /* margin-right: 15px; */
  /* justify-content: space-between; */
  /* align-items: left; */
}

.store-list-container {
  flex: 1;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.store-info-box {
  /* flex: 1; */
  border: 1px solid var(--color-el-e);
  padding: 16px;
  border-radius: 8px;
  margin-left: 16px;
  margin-bottom: 16px;
  width: 350px;
  height: 50px;
  min-width: 150px;
  background: var(--color-bg-b1);
}

.store-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
