/* ----------- SEGMENTED CONTROL*/
.segmented-control {
  display: flex;
  /* background: var(--color-grd-g13); */
  background: var(--color-bg-b11);
  border-radius: 10px;
  border: 1px solid var(--color-bg-b8);
  /* padding: 1px; */
  margin: 5px;
  width: 350px;
  height: 36px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
}

.button-controler:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-controler:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}