/* ----------- MAIN CONTAINER*/
.container {
  display: flex;
  width: 100%;
  height: 100%;
  background: var(--color-bg-b3);
}

.left-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-b3);
  overflow-y: auto;
}

.right-container {
  background: var(--color-bg-b2);
  flex: 1;
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.7);
  z-index: 1;
  padding: 15px;
}

/* ----------- INPUT PANEL*/
.input-panel {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  gap: 15px;
  flex-flow: row;
  border: 1px solid var(--color-bg-b9);
  padding: 16px;
  border-radius: 8px;
  margin: 8px 8px 8px 8px;
  /* flex: 1; */
  min-width: 150px;
  background: var(--color-bg-b9);
}

.segmented-control-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center;   */
}

.segmented-control-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
}

/* ----------- ITEMS PANEL*/
.show-items-panel {
  display: flex;
  flex-flow: column;
  border: 1px solid var(--color-bg-b9);
  padding: 16px;
  border-radius: 8px;
  margin: 8px 8px 8px 8px;
  flex: 1;
  min-width: 150px;
  background: var(--color-bg-b9);
  height: "550px";
  overflow-y: "scroll";
}
