:root {
  --color-el-a: #1abc9c;
  --color-el-b: #16a085;
  --color-el-c: #2ecc71;
  --color-el-d: #27ae60;
  --color-el-e: #3498db;
  --color-el-f: #2980b9;
  --color-el-g: #9b59b6;
  --color-el-h: #8e44ad;
  --color-el-i: #f1c40f;
  --color-el-j: #f39c12;
  --color-el-k: #e67e22;
  --color-el-l: #d35400;
  --color-el-m: #e74c3c;
  --color-el-n: #c0392b;

  --color-bg-b1: #1f2937;
  --color-bg-b2: #51698b;
  --color-bg-b3: #2c3e50;

  /* --color-bg-b4: #51779e;
  --color-bg-b5: #789ac1;
  --color-bg-b6: #8eb9ea;
  --color-bg-b7: #7f8c8d;
  --color-bg-b8: #95a5a6; */

  --color-bg-b4: #3a4b61; /* deep blue-gray */
  --color-bg-b5: #465a75; /* muted steel */
  --color-bg-b6: #5a6f8d; /* calm blue-gray */
  --color-bg-b7: #6f849f; /* soft slate */
  --color-bg-b8: #889bb3; /* light steel */

  /* --color-bg-b9: #bdc3c7; */
  --color-bg-b9: #a9b7c9;

  --color-bg-b10: #d9dcde;
  --color-bg-b11: #e0e7f0;
  --color-bg-b12: #f3f4f6;
  --color-grd-g1: linear-gradient(45deg, rgb(255, 175, 3), rgb(255, 0, 0));
  --color-grd-g2: linear-gradient(
    45deg,
    rgba(242, 143, 62, 1),
    rgba(252, 221, 99, 1)
  );
  --color-grd-g3: linear-gradient(
    45deg,
    rgba(200, 144, 231, 1),
    rgba(255, 191, 19, 1)
  );
  --color-grd-g4: linear-gradient(
    45deg,
    rgba(251, 191, 36, 0.9),
    rgba(201, 128, 18, 0.9)
  );
  --color-grd-g5: linear-gradient(
    45deg,
    rgba(20, 184, 166, 0.85),
    rgba(56, 189, 248, 0.85)
  );

  --color-grd-g6: linear-gradient(
    45deg,
    rgba(22, 114, 217, 72%),
    rgba(134, 239, 172, 67%)
  );
  --color-grd-g7: linear-gradient(
    45deg,
    rgba(186, 138, 243, 100%),
    rgba(111, 230, 179, 100%)
  );
  --color-grd-g8: linear-gradient(
    45deg,
    rgba(168, 85, 247, 100%),
    rgba(147, 197, 253, 100%)
  );
  --color-grd-g9: linear-gradient(
    45deg,
    rgba(147, 51, 234, 100%),
    rgba(165, 180, 252, 100%)
  );
  --color-grd-g10: linear-gradient(
    45deg,
    rgba(99, 102, 241, 0.85),
    rgba(139, 92, 246, 0.85)
  );
  --color-grd-g11: linear-gradient(
    45deg,
    rgba(226, 232, 240, 1),
    rgba(203, 213, 225, 1)
  );
  --color-grd-g12: linear-gradient(
    45deg,
    rgba(41, 128, 185, 100%),
    rgba(243, 244, 246, 100%)
  );
  --color-grd-g13: linear-gradient(
    to bottom,
    rgba(142, 185, 234, 1),
    rgba(178, 199, 222, 1)
  );
  --color-grd-g14: linear-gradient(
    to bottom,
    rgba(224, 231, 240, 1),
    rgba(149, 165, 166, 1)
  );
  --color-grd-g15: linear-gradient(
    to bottom,
    rgba(81, 119, 158, 1),
    rgba(255, 255, 255, 1)
  );
  --color-grd-g16: linear-gradient(
    to bottom,
    rgba(224, 231, 240, 0.5),
    rgba(120, 154, 193, 0.5)
  );
  --color-grd-g17: linear-gradient(
    to bottom,
    45deg,
    rgba(30, 41, 59, 1),
    rgba(51, 65, 85, 1)
  );

  --color-grd-app-accent: linear-gradient(
    80deg,
    rgba(22, 114, 217, 72%) 0%,
    rgba(56, 189, 248, 0.85) 25%,
    rgba(20, 184, 166, 0.85) 40%,
    rgba(200, 144, 231, 1) 70%,
    rgba(255, 191, 19, 1) 100%
  );

  --icon-size: 20px;
  --font-size-xsmall: 0.7rem;
  --font-size-small: 0.8rem;
  --font-size-regular: 1rem;
  --font-size-large: 1.1rem;
  --font-size-xlarge: 1.2rem;
}

@font-face {
  font-family: "SLOAN";
  src: url("./sloan.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
  background: var(--color-bg-b2);
  width: 100%;
  height: 100%;
  padding: 0;
  overflow: hidden;
}

input {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-bg-b8);
  padding: 0 20px;
  margin: 10px 0;
  font-size: clamp(var(--font-size-small), 1vw, var(--font-size-large));
  outline: none;
}

select {
  height: 40px;
  border-radius: 8px;
  border: 1px solid var(--color-bg-b8);
  padding: 0 20px;
  margin: 10px 0;
  font-size: clamp(var(--font-size-small), 1vw, var(--font-size-large));
  outline: none;
}

textarea {
  height: 80px;
  border-radius: 8px;
  border: 1px solid var(--color-bg-b8);
  padding: 5px 10px;
  margin: 10px 0;
  font-size: clamp(var(--font-size-small), 1vw, var(--font-size-large));
  outline: none;
}

h1 {
  font-size: clamp(var(--font-size-small), 2.5vw, var(--font-size-xlarge));
  color: var(--color-bg-b11);
  text-align: left;
  font-weight: 800;
  letter-spacing: 1px;
  font-weight: 400;
}

h2 {
  font-size: clamp(var(--font-size-small), 2.3vw, var(--font-size-large));
  color: var(--color-bg-b1);
  text-align: left;
  font-weight: 600;
}

h3 {
  font-size: clamp(var(--font-size-small), 1vw, var(--font-size-small));
  color: var(--color-bg-b5);
  text-align: left;
  font-weight: 800;
}

h4 {
  font-size: clamp(var(--font-size-small), 1vw, var(--font-size-small));
  color: var(--color-bg-b10);
  text-align: left;
  font-weight: 400;
  letter-spacing: 1px;
}

h7 {
  font-size: clamp(var(--font-size-small), 2.2vw, var(--font-size-large));
  color: var(--color-bg-b1);
}

.fancy-1 {
  font-size: clamp(var(--font-size-small), 2.3vw, var(--font-size-large));
  text-align: left;
  background: var(--color-grd-g6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.fancy-2 {
  font-size: clamp(var(--font-size-small), 2.2vw, var(--font-size-large));
  color: var(--color-bg-b2);
  text-align: left;
  background: var(--color-grd-g11);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.fancy-3 {
  font-size: clamp(var(--font-size-small), 2.2vw, var(--font-size-large));
  color: var(--color-bg-b2);
  text-align: left;
  background: var(--color-grd-g3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.fancy-4 {
  font-size: clamp(var(--font-size-small), 2.2vw, var(--font-size-large));
  color: var(--color-bg-b2);
  text-align: left;
  background: var(--color-grd-g7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.fancy-5 {
  font-size: clamp(var(--font-size-small), 2.2vw, var(--font-size-large));
  color: var(--color-bg-b2);
  text-align: left;
  background: var(--color-grd-g2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

p {
  font-size: clamp(var(--font-size-small), 1.8vw, var(--font-size-regular));
  color: var(--color-bg-b1);
  text-align: left;
  font-weight: 400;
}

.p-empty-info {
  font-size: clamp(var(--font-size-small), 0.8vw, var(--font-size-regular));
  color: var(--color-bg-b9);
  text-align: left;
  font-weight: 400;
  font-style: italic;
}

.p-dbf-info {
  font-size: clamp(var(--font-size-small), 0.8vw, var(--font-size-regular));
  color: var(--color-el-n);
  text-align: left;
  font-weight: 400;
}

label {
  font-size: clamp(var(--font-size-small), 2vw, var(--font-size-regular));
  color: var(--color-bg-b1);
  text-align: left;
  margin-top: 15px;
  display: block;
}

a {
  color: var(--color-bg-b10);
  text-decoration: none;
}

a.visited {
  color: var(--color-bg-b12);
  text-decoration: none;
}

.button-big {
  width: 166px;
  height: 82px;
  background: var(--color-grd-g2);
  color: var(--color-bg-b12);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  margin-top: 20px;
  text-align: center;
  color: var(--color-bg-b1);
  font-size: var(--font-size-large);
}

button {
  width: clamp(50px, 25vw, 150px);
  height: clamp(20px, 25vw, 40px);
  background: var(--color-grd-g2);
  color: var(--color-bg-b12);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  /* margin-top: 20px; */
  text-align: center;
  color: var(--color-bg-b1);
  font-size: clamp(var(--font-size-small), 2.5vw, var(--font-size-regular));
}

button:hover {
  background: var(--color-bg-b1);
  color: var(--color-bg-b11);
}

.button-warning {
  width: clamp(50px, 25vw, 150px);
  height: clamp(20px, 25vw, 40px);
  background: var(--color-grd-g1);
  color: var(--color-bg-b12);
  font-weight: bold;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  /* margin-top: 20px; */
  text-align: center;
  color: var(--color-bg-b1);
  font-size: clamp(var(--font-size-small), 2.5vw, var(--font-size-regular));
  margin-right: 35px;
}

.menu-btn {
  position: relative;
  font-size: small;
  background-color: #282c34;
  color: var(--color-bg-b9);
  border: 1px solid #444;
  border-radius: 0px;
  padding: 4px 10px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: clamp(2vw, 3vw, 6vw);
  height: clamp(1vw, 2vw, 3vw);
  background: var(--color-bg-b1);
}

.menu-btn:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.menu-btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu-btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu-btn.settings {
  width: clamp(1vw, 2vw, 3vw);
}

.menu-btn::after {
  content: ".";
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: x-small;
}

.menu-btn.active {
  background: var(--color-grd-g2);
  color: var(--color-bg-b1);
  font-weight: bold;
}

.menu-btn:hover {
  background: var(--color-bg-b2);
}

.menu-btn-save {
  width: clamp(2vw, 4vw, 6vw);
  height: clamp(1vw, 2vw, 3vw);
  border-radius: 0px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.menu-btn-export {
  width: clamp(2vw, 4vw, 6vw);
  height: clamp(1vw, 2vw, 3vw);
  border-radius: 8px;
  border: none;
  margin-left: 6px;
}

/* ----------- INFO BOX & INPUT PANEL MANAGEMENT*/

.info-box {
  border: 1px solid var(--color-el-e);
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 16px;
  width: 150px;
  height: 150px;
  min-width: 150px;
  background: var(--color-bg-b1);
}

.info-box-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.info-box-content h5 {
  color: var(--color-grd-g1);
  font-size: clamp(var(--font-size-small), 3vw, 7vw);
}

.info-box-2 {
  border: 1px solid var(--color-el-e);
  padding: 10px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 16px;
  width: 300px;
  height: 150px;
  background: var(--color-grd-g6);
}

.info-box-2 p {
  font-size: clamp(var(--font-size-small), 0.75vw, 0.8vw);
}

/* ----------- SUB-MAIN MENU CONTENT*/

.header-button-group {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
  height: 50px;
}

/* ----------- SECONDARY MENU */
.secondary-menu {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: space-between;
  width: 200px;
  height: 100%;
  background: var(--color-bg-b3);
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0;
  z-index: 1;
}

.secondary-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
}

.secondary-menu-icon {
  scale: 55%;
  color: var(--color-bg-b2);
  margin-left: 5px;
  cursor: pointer;
}

.secondary-settings-menu {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  background: var(--color-bg-b3);
  color: var(--color-bg-b12);
  font-weight: 400;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  letter-spacing: 1px;
}

.secondary-settings-menu::before {
  content: "";
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--color-bg-b11);
  /* simple star svg, url-encoded */
  transition:
    filter 0.72s ease,
    transform 0.72s ease,
    background-image 0.72s ease;
  padding: 0 1px 0 15px;
}

.secondary-settings-menu:hover {
  background: var(--color-bg-b2);
}

.secondary-settings-menu.active {
  background: var(--color-grd-g3);
  color: var(--color-bg-b1);
  font-weight: bolder;
}

.button-secondary-menu::before {
  content: "";
  display: inline-block;
  width: var(--icon-size);
  height: var(--icon-size);
  flex: 0 0 auto;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--color-bg-b11);
  /* simple star svg, url-encoded */
  transition:
    filter 0.72s ease,
    transform 0.72s ease,
    background-image 0.72s ease;
  padding: 0 1px 0 15px;
}

.button-secondary-menu:hover {
  background: var(--color-bg-b2);
}

.button-secondary-menu.active {
  background: var(--color-grd-g3);
  color: var(--color-bg-b1);
  font-weight: bold;
}

.button-secondary-menu {
  display: flex;
  align-items: center;
  width: 200px;
  height: 50px;
  background: var(--color-bg-b3);
  color: var(--color-bg-b12);
  font-weight: 400;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  letter-spacing: 0.8px;
}
.button-secondary-menu.dashboard::before {
  background-image: url("../../src/styles/svg/dashboard-3.svg");
  font-size: 0.5rem;
}

.button-secondary-menu.invoices::before {
  background-image: url("../../src/styles/svg/invoice-duotone.svg");
}

.button-secondary-menu.optometry::before {
  background-image: url("../../src/styles/svg/optician.svg");
}

.button-secondary-menu.training::before {
  background-image: url("../../src/styles/svg/eye-tracking-outline.svg");
}
.button-secondary-menu.lab::before {
  background-image: url("../../src/styles/svg/lab.svg");
  font-size: 0.5rem;
}
.button-secondary-menu.optician::before {
  background-image: url("../../src/styles/svg/optician.svg");
  font-size: 0.5rem;
}

.button-secondary-menu.dashboard::before {
  background-image: url("../../src/styles/svg/dashboard-3.svg");
  font-size: 0.5rem;
}

.button-secondary-menu.ico::before {
  background-image: url("../../src/styles/svg/outline-assistant.svg");
  font-size: 0.5rem;
}

/* ---- TERTIARY MENU ---- */
.button-tertiary-menu {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  background: var(--color-bg-b1);
  color: var(--color-bg-b11);
  font-weight: 400;
  border-radius: 0px;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  font-size: var(--font-size-main-menu);
  text-align: left;
  padding-left: 20px;
  margin-top: 0px;
  letter-spacing: 0.8px;
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.button-tertiary-menu.show {
  opacity: 1;
  transform: translateY(0);
}

.button-tertiary-menu:hover {
  background: var(--color-bg-b2);
  color: var(--color-bg-b11);
}
.button-tertiary-menu.active {
  background: var(--color-bg-b9);
  color: var(--color-bg-b1);
  font-weight: bold;
}

/* ---- MODÁL ---- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  position: relative;
  /* padding: 25px;   */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); */
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px 5px 10px 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}



.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(
    to right,
    rgba(22, 114, 217, 0.72) 0%,
    rgba(56, 189, 248, 0.85) 25%,
    rgba(20, 184, 166, 0.85) 40%,
    rgba(200, 144, 231, 1) 70%,
    rgba(255, 191, 19, 1) 100%
  );
  border-radius: 10px 10px 0px 0px;
}

.modal input {
  width: 100%;
  margin: 10px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field label {
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-field input,
.modal-field select,
.modal-field textarea {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.modal-member-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.modal-member-item:hover {
  background-color: #f0f0f0;
}

.modal-pin-info {
  font-size: x-small;
  color: var(--color-el-g);
  margin-top: 10px;
}

/* ----------- ADMIN LAYOUT */
.admin-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.admin-dashboard-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: start;
  justify-content: left;
  gap: 0px;
}

.content-container {
  display: flex;
  padding: 100px;
  gap: 16px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--color-grd-g13);
  width: 100%;
  height: 50px;
  padding-left: 50px;
  gap: 50px;
}

.admin-menu-btn {
  position: relative;
  font-size: regular;
  background: var(--color-grd-g2);
  color: var(--color-bg-b1);
  border: 1px solid var(--color-el-i);
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
  transition: all 0.2s ease;
  width: clamp(2vw, 7vw, 8vw);
  height: clamp(1vw, 2vw, 3vw);
  margin-right: 50px;
}

.admin-menu-btn:hover {
  background: var(--color-bg-b1);
  color: var(--color-bg-b11);
  border: 1px solid var(--color-bg-b11);
}

/* ----------- NEW INVOICE LAYOUT */

.input-area-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.input-area-content {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

/* ----------- Design TEXT*/
.plu {
  font-size: clamp(var(--font-size-small), 1.5vw, var(--font-size-large));
  color: var(--color-bg-b1);
  text-align: left;
  font-weight: 600;
  border-radius: 4px;
  padding: 2px 6px;
  border: 1px solid var(--color-bg-b8);
  background: var(--color-grd-g2);
}
