:root {
  --color-bg-b1: #1f2937;
  --color-grd-g13: linear-gradient(
    to bottom,
    rgba(224, 231, 240, 0.5),
    rgba(120, 154, 193, 0.5)
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: block;
  background: var(--color-grd-g13);
  width: 100%;
  height: 100%;
  padding: 0;
}
