html,
body {
  height: 100%;
  margin: 0;
}

.optotyp-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-height: 0;
  width: 100%;
  height: 100%;
}

.optotyp-settings {
  flex: 0 0 75%;
  background: var(--color-bg-b3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 5px 0 5px rgba(85, 85, 85, 0.3);
  z-index: 1;
  padding: 25px;
}

.left-column {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.right-column {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
}

.optotyp-right-column-header {
  flex: 1;
  flex-direction: column;
  background: var(--color-bg-b3);
  border: 1px solid var(--color-bg-b7);
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0px 10px 0px;
}

.optotyp-right-column-buttons {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: var(--color-bg-b3);
  border: 1px solid var(--color-bg-b7);
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0px 10px 0px;
}

.optotyp-help {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: start;
  background: var(--color-bg-b2);
  padding: 15px;
}

.optotyp-controler-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: var(--color-bg-b3);
}

.slider-container {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.optotyp-calibration-selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* gap: 35px; */
}

.slider-value {
  display: grid;
  /* width: 250px; */
  grid-template-columns: 3fr 1fr; /* dva stejné sloupce */
  grid-template-rows: auto auto; /* dva řádky (výška podle obsahu) */

  grid-column: 1 / 2;
  grid-row: 1 / 2;

  color: var(--color-bg-b1);
  font-weight: bold;
  gap: 4px; /* mezery mezi prvky */
}

.slider-value p:nth-child(2n) {
  justify-self: end; /* každá sudá <p> (pravý sloupec) se zarovná doprava */
}

.optotyp-distance-settings {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  background: var(--color-bg-b3);
  border: 1px solid var(--color-bg-b7);
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0px 10px 0px;

  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
}

.optotyp-calibration {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-b3);
  border: 1px solid var(--color-bg-b7);
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0px 10px 0px;

  /* box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3); */
}

.optotyp-calibration-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
}

.optotyp-calibration-btn-shrink {
  background: url(../src/styles/svg/shrink-arrow.svg), var(--color-grd-g2);
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-size: 70%, cover;
  background-repeat: no-repeat;
  background-position: center 5px, center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;
  padding-top: 70px;
  margin-right: 35px;
}
.optotyp-calibration-btn-expand {
  background: url(../src/styles/svg/expand-arrow.svg), var(--color-grd-g2);
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 5px;
  background-size: 60%, cover;
  background-repeat: no-repeat;
  background-position: center 8px, center;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background 0.3s, box-shadow 0.3s;
  padding-top: 70px;
  margin-right: 35px;
}

.optotyp-calibration-btn-shrink:hover,
.optotyp-calibration-btn-expand:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.optotyp-calibration-btn-shrink:active,
.optotyp-calibration-btn-expand:active {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
  align-items: flex-start;
  justify-content: center;
}

.optotyp-calibration-sample {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: --var(--color-grd-g6);
  height: 150px;
  width: 240px;
  font-size: 1.5rem;
  color: var(--color-bg-b1);
  border: 2px solid var(--color-el-j);
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  margin-top: 35px;
}

.segmented-control {
  display: flex;
  background: var(--color-bg-b3);
  border-radius: 25px;
  border: 1px solid var(--color-bg-b4);
  padding: 1px;
  gap: 5px;
  margin: 8px;
  width: 200px;
  height: 34px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
}

.button-controler {
  flex: 1;
  height: 30px;
  border: none;
  background: transparent;
  background-color: var(--color-bg-b3);
  border-radius: 20px;
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: 500;
  color: var(--color-bg-b8);
  box-shadow: none;
  margin: 0;
}

.button-controler.active {
  background: var(--color-grd-g3);
  color: var(--color-bg-b1);
  border: 1px solid var(--color-bg-b4);
  font-weight: 800;
}

#slider {
  background: var(--color-bg-b3);
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  border: none;
  outline: none;
}

/* Kolejnice (track) */
#slider::-webkit-slider-runnable-track {
  height: 8px;
  background: var(--color-grd-g6);
  border-radius: 4px;
}

#slider::-moz-range-track {
  height: 8px;
  background: linear-gradient(90deg, #4caf50, #2196f3);
  border-radius: 4px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 25%;
  background: var(--color-grd-g4); /* barva jezdce */
  cursor: pointer;
  margin-top: -4px;
}

#slider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff5722;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  .optotyp-container {
    flex-direction: column;
  }
  .optotyp-left-column,
  .optotyp-right-column {
    flex: 0 0 auto;
  }

  .optotyp-settings {
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    overflow-y: scroll;
  }

  .optotyp-calibration-controls {
    /* flex-direction: column; */
    gap: 15px;
    margin-top: 10px;
  }

  .optotyp-calibration-btn-shrink,
  .optotyp-calibration-btn-expand {
    width: 80px;
    height: 80px;
    padding-top: 50px;
    margin-right: 0;
  }

  .optotyp-calibration-sample {
    width: 200px;
    height: 120px;
    font-size: 1.2rem;
    margin-top: 25px;
  }
}
