.container {
    display: flex;
    
    gap: 16px;  
}


.box {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  width: 150px;
  height: 150px;
}

.sph-cyl-modul {
  border: 3px solid var(--color-bg-b10);
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.sph-cyl-modul input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sph-cyl-modul label {
  margin-bottom: 4px;
  color: var(--color-bg-b10);
  font-size: var(--font-size-sm);
}

.sph-cyl-modul button {
  margin: 0; 
} 