/* ---- MODÁL ---- */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  position: relative;
  /* padding: 25px;   */
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9); */
  background-color: white;
  padding: 20px 30px;
  border-radius: 5px 5px 10px 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.9);
}

.modal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: linear-gradient(
    to right,
    rgba(22, 114, 217, 0.72) 0%,
    rgba(56, 189, 248, 0.85) 25%,
    rgba(20, 184, 166, 0.85) 40%,
    rgba(200, 144, 231, 1) 70%,
    rgba(255, 191, 19, 1) 100%
  );
  border-radius: 10px 10px 0px 0px;
}

.modal input {
  width: 100%;
  margin: 10px 0;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-content.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.modal-field {
  display: flex;
  flex-direction: column;
}

.modal-field label {
  margin-bottom: 5px;
  font-weight: 500;
}

.modal-field input,
.modal-field select,
.modal-field textarea {
  width: 100%;
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 25px;
}

.modal-member-item {
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.modal h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
}

.modal-member-item:hover {
  background-color: #f0f0f0;
}

.modal-pin-info {
  font-size: x-small;
  color: var(--color-el-g);
  margin-top: 10px;
}

/* ---- MODÁL PRO VÍCE POLOŽEK ---- */
.modal-wide {
  max-width: 2000px;
  width: 95%;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-wide .modal-content.three-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.modal-field-hidden {
  display: none;
}

.modal-field input:disabled,
.modal-field textarea:disabled,
.modal-field input:read-only,
.modal-field textarea:read-only {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.modal-field .required-star {
  color: red;
}

.modal-dynamic-row {
  display: grid;
  gap: 20px;
  align-items: end;
}

.modal-dynamic-row.has-margin {
  margin-top: 20px;
}

.modal-button-remove {
  width: 32px;
  height: 32px;
  margin-top: 0;
  background-color: #ff0000;
  color: #6b7280;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.modal-button-add-container {
  margin-top: 20px;
  text-align: center;
}
