.optometry-table {
  display: grid;
  grid-template-columns: 10% repeat(6, 1fr);
  gap: 2px;
  max-width: 700px;
  font-family: sans-serif;
  background: var(--color-bg-b3);
  align-items: center;
  margin-top: 0.4vw;
}

/* Spojení posledních dvou buněk v druhém a třetím řádku */
.optometry-table .span-last {
  grid-row: span 2;
  height: 3.4vw;
}

/* Spojení všech buněk (kromě první) v posledním řádku */
.optometry-table .span-all {
  grid-column: 2 / -1;
}

.optometry-table p,
.optometry-table input {
  height: 2.2vw; /* sjednocená výška */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  box-sizing: border-box;
}
.optometry-table p {
  font-size: clamp(var(--font-size-small), 0.9vw, 1vw);
  background: var(--color-bg-b3);
  text-align: center;
  padding: 6px 4px;
  font-weight: bold;
  margin: 0;
  color: var(--color-bg-b7);
}

.optometry-table .desc {
  font-size: clamp(var(--font-size-small), 1.2vw, 1.5vw);
  color: var(--color-bg-b11);
  width: 3vw;
}

.optometry-table .desc-table {
  height: 1.1vw;
  align-items: start;
}

.optometry-table input {
  font-size: clamp(var(--font-size-xsmall), 1vw, 1.1vw);
  border: 1px solid var(--color-bg-b3);
  border-radius: 4px;
  color: var(--color-bg-b9);
  font-weight: bold;
  width: 100%;
  height: 1.7vw;
  padding: 0.2vw;
  text-align: center;
  background: var(--color-bg-b3);
}

.optometry-table.active {
  background: var(--color-bg-b1);
}

.optometry-table.active input {
  color: var(--color-bg-b12);
  background: var(--color-bg-b1);
  outline: none;
}

.optometry-table.active input:focus {
  background-color: var(--color-bg-b11);
  color: var(--color-bg-b3);
  /* box-shadow: 0 0 15px var(--color-el-e); */
  border-bottom: 2px solid var(--color-el-m);
}

.optometry-table.active p {
  background: var(--color-bg-b1);
}
