.optometry-item-head {
  width: 100%;
  height: 20%;
}

.optometry-item-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 65%;
}
.optometry-item-body .desc {
  flex: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1.1vw;
  margin-left: 1.1vw;
}

.optometry-item-body .desc h1 {
  font-size: 1.4vw;
  color: var(--color-bg-b9);
  font-weight: bold;
}

.optometry-item-body .inputData {
  flex: 35%;
  background: var(--color-bg-b3);
  margin: 0.2vw;
}

.optometry-item-body .inputData.active {
  width: auto;

  background: var(--color-bg-b1);
}

.optometry-item-body .inputData input {
  font-size: clamp(var(--font-size-regular), 1.4vw, 1.5vw);
  /* border-top: none;
  border-left: none;
  border-right: none; */
  border: transparent;
  border-radius: 0px;
  color: var(--color-bg-b12);
  font-weight: bold;
  width: 4vw;
  height: 2vw;
  padding: 0.2vw;
  text-align: center;
  background: var(--color-bg-b3);
}

.optometry-item-body .inputData.active input {
      background: var(--color-bg-b1);
}


.optometry-item-body .inputData.active input:focus {
  box-shadow: 0 0 15px var(--color-el-e);
  border-bottom: 1px solid var(--color-el-j);
  outline: none;
}

.optometry-item-footer {
  width: 100%;
}

.optometry-item-footer p {
  margin-top: 0.3vw;
  text-align: right;
  font-size: clamp(var(--font-size-xsmall), 0.8vw, var(--font-size-regular));
}

.optometry-item-textarea {
  padding: 5px;
  border: none;
  /* border-radius: 5px; */
  width: 100%;
  height: 100%;
  background: var(--color-bg-b3);
  font-size: 1vw;
  color: var(--color-bg-b12);
  outline: none;
  resize: none;
}

.optometry-item textarea.active {
  background: var(--color-bg-b12);
  color: var(--color-bg-b3);
}

.optometry-item h3 {
  font-size: smaller;
}

.optometry-item-nv-input {
  background: var(--color-bg-b1);
  border-radius: 0px;
  font-size: 1vw;
  border-top: none;
  border-left: none;
  border-radius: none;
  border-bottom: 1px solid var(--color-el-m);
  color: var(--color-bg-b12);
  font-weight: bold;
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
}

.optometry-natural-vizus {
  /* border: 1px solid var(--color-el-e); */
  border: 1px solid var(--color-bg-b6);
  background: var(--color-bg-b1);
  padding: 8px;
  border-radius: 8px;
  margin-top: 16px;
  margin-left: 16px;
  width: 350px;
  height: 150px;
  min-width: 150px;
}
