.optometry-table-anamnesis {
  display: grid;
  grid-template-rows: 1fr 5fr;
  gap: 12px;
  background: var(--color-bg-b3);
  align-items: stretch;
  margin-top: 0.2vw;
  height: 100%;
}

.optometry-table-anamnesis.active {
  background: var(--color-bg-b1);
}

.optometry-table-anamnesis.active textarea {
  color: var(--color-bg-b12);
  background: var(--color-bg-b1);
  border-radius: 4px;
  outline: none;
}

.optometry-table-anamnesis textarea {
  font-size: clamp(var(--font-size-xsmall), 1vw, 1.1vw);
  border: 1px solid var(--color-bg-b3);
  border-radius: 0px;
  color: var(--color-bg-b9);
  /* font-weight: bold; */
  width: 100%;
  height: 100%;
  padding: 0.2vw;
  text-align: left;
  background: var(--color-bg-b3);
  outline: none;
  resize: none;
  box-sizing: border-box;
  overflow-y: none;
}

.optometry-table-anamnesis.active textarea:focus {
  background-color: var(--color-bg-b11);
  color: var(--color-bg-b3);
  /* box-shadow: 0 0 15px var(--color-el-e); */
  border-bottom: 2px solid var(--color-el-m);
}

.optometry-table-anamnesis.active p {
  background: var(--color-bg-b1);
}
