:root {
  --card-height: 55vh;
  --card-width: calc(var(--card-height) / 1.3);
  --rotate: 0deg;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

body {
  background-color: aliceblue;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(2 * var(--card-width));
}

.login-hero-image {
  width: var(--card-width);
  height: var(--card-height);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
}

.login-logo {
  width: calc(0.5 * var(--card-width));
  margin: 25px 0 50px 0;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: calc(var(--card-width) * 0.9);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: 1.5em;
  color: #789ac1;
  /* color: #fff; */
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-image: linear-gradient(
    var(--rotate),
    #e0e7f0,
    #d2d5da 43%,
    #789ac1
  );
  position: absolute;
  z-index: -1;
  top: -0%;
  left: -0%;
  animation: spin 10s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 101%;
  width: 101%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #e0e7f0,
    #d2d5da 43%,
    #789ac1
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 10s linear infinite;
}

.button-login {
  background: var(--color-grd-g2);
  /* background: red; */
  color: black;
  border: none;
  border-radius: 25px;
  width: 136px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e0e7f0;
  padding: 0 20px;
  margin: 10px 0;
  font-size: 0.7em;
}
