:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  --rotate: 0deg;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

body {
  background-color: aliceblue;
}

.card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: 1.5em;
  color: #789ac1;
  /* color: #fff; */
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

/* .card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
} */

.card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background-image: linear-gradient(
    var(--rotate),
    #e0e7f0,
    #d2d5da 43%,
    #789ac1
  );
  position: absolute;
  z-index: -1;
  top: -0%;
  left: -0%;
  animation: spin 13s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 101%;
  width: 101%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #e0e7f0,
    #d2d5da 43%,
    #789ac1
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 20s linear infinite;
}

button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: black;
  border: none;
  border-radius: 25px;
  width: 136px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

input {
  width: 80%;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #e0e7f0;
  padding: 0 20px;
  margin: 10px 0;
  font-size: 0.7em;
}
