/* layout.css */
.layout-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--color-bg-b1);
}
.layout-header {
  flex: 0 0 70px;
  display: flex;
  flex-direction: row;
  background: var(--color-bg-b1);
  margin: 0;

}

.layout-header h1 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding-left: 115px;
}

.layout-section {
  flex: 1;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  padding: 0;
  min-height: 0;
}
.layout-nav {
  width: 200px;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 0px;
  font-size: 1rem;
  background: var(--color-bg-b1);


}
.layout-content {
  flex: 1;
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: var(--color-bg-b3);
  border-radius: 25px 0 0 0;
  overflow: hidden;
  min-height: 0;
}
.layout-footer {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #faf8f8;
  text-align: center;
}
