body {
  margin: 0;
  padding: 0;
}

.superadmin-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  background: var(--color-bg-b3);
  background: var(--color-bg-b3);
}

.superadmin-dashboard-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  /* justify-content: center; */
  align-items: start;
}

.content-container {
  display: flex;
  padding: 100px;
  gap: 16px;
}

.content-box {
  border: 1px solid #18c942;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  width: 150px;
  height: 150px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
  background: var(--color-grd-g13);
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-left: 50px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef1f5;
}

.open-button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.open-button:hover {
  background-color: #0056b3;
}
